.paginationWrapper {
  margin-bottom: 20px;
  display: inline-block;
  padding: 20px 40px;
  background-color: #fff;
  font-weight: 700;
}

.paginationWrapper button {
  font-weight: 700;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  outline: none;
}

.paginationWrapper button.active {
  background-color: rgba(175, 47, 47, 0.15);
}
